.blog {
  min-height: calc(100vh - 240px) !important;

  h3 {
    font-size: 22px;
    @include title;
  }
  &-content {
    display: flex;
    flex-direction: column;

    &-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      a {
        text-decoration: none;
      }
    }
  }

  &-item {
    width: 30rem !important;
    height: 440px !important;
    background-size: cover;
    margin: 20px;

    h5 {
      color: $white;
      text-align: center;
      line-height: 2rem;
      font-weight: bold;
    }

    &-overlay {
      background-color: rgba($color: $primary, $alpha: 0.95);
      height: 440px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border-radius: 20px;
      flex-direction: column;

      p {
        position: absolute;
        left: 0;
        bottom: 30px;
        width: 200px;
        padding: 10px;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: $third;
        color: $white;
      }

      &-new {
        background-color: $grey-one !important;
        color: $primary !important;
      }
    }
  }

  &-sidebar {
    width: 100%;
    height: auto;
    background-color: $grey-three;
    margin-bottom: 20px;
  }
}

#searchform {
  margin: 40px 0;

  label {
    display: none;
  }

  #s {
    width: 60%;
    height: 40px;
    border: none;
  }

  #searchsubmit {
    border: none;
    width: 38%;
    height: 40px;
    text-transform: uppercase;
    background-color: $primary;
    color: $white;
  }
}

#sidebar {
  h3 {
    text-transform: uppercase;
    font-family: $font-one;
    color: $primary;
  }

  ul {
    list-style: none;

    li {
      padding: 10px;

      &:hover,
      &:active {
        background-color: $grey-four;
      }
    }

    a {
      text-decoration: none;
    }

    ::marker {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .blog {
    &-content {
      &-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    &-sidebar {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 1023px) {
  .blog {
    &-content {
      display: flex;
      flex-direction: row;
      &-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 65%;
        margin: 0;
        padding: 0;
      }
    }

    &-sidebar {
      width: 35%;
      height: 100%;
    }

    &-item {
      width: 250px;
      margin: 10px;
    }
  }
}
