@import "./custom";
@import "./variables";
@import "./mixins";
@import "./header";
@import "./frontpage";
@import "./frontpage-cta";
@import "./frontpage-featured";
@import "./frontpage-signup";
@import "./slider";
@import "./episodes-lessons";
@import "./episodes-lessons-sidebar";
@import "./episodes-lessons-results";
@import "./single";
@import "./single-player";
@import "./single-details";
@import "./single-breadcrumbs";
@import "./single-related";
@import "./broadcast-guide";
@import "./page";
@import "./partners";
@import "./footer";
@import "./blog";
@import "./single-blog";
@import "./about";
@import "./archived";
@import "./initiative";
@import "./modal";
@import "./spinner";
@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: $grey-one;
  font-size: 62.5%;
}

main {
  min-height: calc(100vh - 286px);
  margin: 0;
  margin-top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

li {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.4rem;
}

.card {
  border: none;
  border-radius: 1.6rem;
  @include shadow;

  width: 20rem;
  height: auto;
  margin: 0.6rem;

  img {
    height: 16rem;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
  }

  &-body {
    h4 {
      padding: 1rem 0;
      text-align: center;
    }
  }

  &:hover,
  &:active {
    transform: scale(1.01);
    animation: fadeIn 5s;
  }
}

.video-stream html5-main-video {
  width: 889px !important;
  height: 500px !important;
}
