.about {
  margin-top: 40px;
  min-height: calc(100vh - 240px);

  h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: $font-one;
    color: $primary;
    margin-top: 10px;
    margin-bottom: 6rem;
  }

  &-textAreaWithImage {
    display: flex;
    margin-top: 40px !important;

    &-one {
      position: relative;
      display: inline-block;

      &-image {
        img {
          height: 30rem;
          width: auto;
        }
      }
    }

    &-two {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        padding: 20px;
        font-size: 2rem;
      }
    }
  }
}
