.about {
  margin-top: 40px;
  min-height: calc(100vh - 240px);

  &-textAreaWithImage {
    display: flex;
    margin-top: 40px !important;

    &-one {
      position: relative;
      display: inline-block;

      &-image {
        img {
          height: 60rem;
          width: auto;
        }
      }
    }

    &-two {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h3 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2.2rem;
        font-weight: bold;
        font-family: $font-one;
        color: $primary;
        margin-top: 10px;
      }

      p {
        padding: 20px;
        font-size: 2rem;
      }
    }
  }
}
