.episodes {
    &-sidebar {
        aside {
            padding: 0 10px;
        }   

        label {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.filter {
    height: auto;

    &-form {
        background-color: $white;
        border-radius: 20px;
        margin-bottom: 20px;
        @include shadow;
        padding: 20px 40px;
    }

    &-types {
        &-input {
            display: flex;
            flex-direction: column;
    
            input[type="radio"] {
                margin-right: 10px;
                display:inline-block;
                width:20px;
                height:20px;
                vertical-align: middle;
            }

            span {
                font-size: 12px;
            }
        }
    }

    &-categories {
        margin-top: 10px;

        span {
            font-size: 12px;
        }

        label {
            text-transform: uppercase;
            font-weight: bolder;
        }
        
        &-item {
            margin: 4px 0;
            label {
                text-transform: capitalize;
            }

            input[type="radio"] {
                display:inline-block;
                margin-right: 10px;
                width:20px;
                height:20px;
                vertical-align: middle;
            }
        }
    }

    &-grade {
        margin-top: 10px;
        &-item {
            margin: 4px 0;
            label {
                text-transform: capitalize;
                font-weight: normal;
                font-size: 12px;
            }
        }

        &-label {
            text-transform: uppercase;
            font-weight: bold;
        }

        &-select {
            margin-top: 20px;
        }

        input[type="checkbox"] {
            margin-right: 10px;
            display:inline-block;
            width:20px;
            height:20px;
            vertical-align: middle;
        }
    }

    &-submit {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 10px;
        
        input {
            width: 100%;
            font-weight: bold;
            margin: 10px 0;
            border-radius: 20px;
            padding: 10px 0;
        }
    }
}


.tab {
    &-pane {
        margin-top: 20px;
    }
}

aside {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .downloads {
        display: none;
        
        &-container {
            display: flex;
            align-items: center;
        }
    
        h4 {
            color: $white;
            text-align: center;
        }
    
        img {
            align-self: center;
            height: auto;
            width: 100%;
            margin: 4px 2px;
        }
    }
}


#episode-category {
    margin-top: 20px;
    width: 100%;
}

#episode-search {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: $grey-one;
}

.card {
    width: 200px;
    height: auto;
    margin: 10px 6px;
    border-radius: 20px !important;
    
    
    &-body {
        padding: 2px;
    }

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }

    img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    a {
        text-decoration: none;
        color: black;
    }

    &:hover, &:active {
        transform: scale(1.01);
        animation: fadeIn 5s;
    }
}

.results {
    &-episodes {
        display: flex;
        justify-content: center;
        
        &-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
        }

        &-filter {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

.results {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    
    &-loading {

        .spinner-border {
            width: 3rem;
            height: 3rem;
        }
    }

    p {
        margin-top: 20px;
        font-size: 21px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .results {
        &-episodes {
            margin-left: 120px;

            &-container {
                justify-content: left;
            }
    
            &-filter {
                justify-content: left;
            }
        }
    }
    .downloads {
        display: flex !important;
        background-color: $primary;
        flex-direction: column;
        padding: 6px;

        &-container {
            display: flex;
            flex-direction: column;

            a img {
                margin: 6px 0;
                width: 120px;
                height: auto;
            }
        }
    }

    .card {
        width: 180px;
    }

    aside {
        width: 280px;
    }
}

@media screen and (min-width: 769px) {
    .results {
        display: flex;
        &-episodes {
            &-container {
                justify-content: left;
            }
    
            &-filter {
                justify-content: left;
            }
        }
    }

    .downloads {
        display: flex !important;
        background-color: $primary;
        flex-direction: column;
        padding: 6px;

        &-container {
            display: flex;
            flex-direction: column;

            a img {
                margin: 6px 0;
                width: 100px;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .downloads {
        &-container {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}