.episodes {
    margin-top: 20px;
}

.results {
    &-header {
        font-family: $font-one;
        color: $primary;
        text-transform: uppercase;
    }

    &-episodes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-text {
            text-transform: uppercase;
            font-weight: bold;
            font-family: $font-one;
            color: $primary;
            margin-top: 10px;
        }

        &-container {
            display: flex;
            flex-wrap: wrap;
        }        

        &-loadmore {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 20px;
            
        }
    }

    &-filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.card {
    width: 200px;
    margin: 10px 6px;
    border-radius: 20px !important;

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }

    img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    a {
        text-decoration: none;
        color: black;
    }

    &:hover, &:active {
        transform: scale(1.01);
        animation: fadeIn 5s;
    }
}

.btn-secondary {
    font-size: 12px;
}

.btn-featured {
    padding: 8px 10px;
}