.episodes {
    margin-top: 20px;
}

.results {
    &-featured {
        background-color: $fifth;
        display: flex;
        flex-direction: column;
        padding: 20px;

        h2 {
            text-transform: uppercase;
            text-align: center;
            font-family: $font-one;
            color: $sixth;
        }
    
        &-container {
            display: flex;
            margin-top: 20px;
            
            img {
                height: 160px;
                width: auto;
            }
        }
        
        &-text {
            display: flex;
            justify-self: center;
            flex-direction: column;
            margin-left: 40px;
            
            h5 {
                color: $white;
            }

            p {
                color: $fourth;
            }
        }
 
        a {
            width: 200px;
            margin: 0 auto;
            margin-top: 10px;
        }
    }

    &-episodes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-text {
            text-transform: uppercase;
            font-weight: bold;
            font-family: $font-one;
            color: $primary;
            margin-top: 20px;
        }

        &-container {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
        }        

        &-loadmore {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 40px;
            
        }
    }

}

.card {
    width: 260px;
    margin: 10px;

    &-title {
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: $primary;
    }

    &:hover, &:active {
        transform: scale(1.05);
        animation: fadeIn 5s;
    }
}