.featured {
  &-episode,
  &-curriculums {
    h2 {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &-curriculums {
    margin-top: 2rem !important;
  }
}

.featured-item {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    background-color: $eight;
  }

  &-image {
    img {
      height: 4rem;
      width: auto;
    }
  }

  &-text {
    margin-left: 1.4rem;
    p {
      font-size: 1.2rem;
    }
  }
}

.curriculum {
  &-item {
    display: flex;
    align-items: center;
    margin: 2rem 0;

    &:hover,
    &:focus {
      background-color: $eight;
    }
  }

  &-image {
    img {
      height: 4rem;
      width: auto;
    }
  }

  &-text {
    margin-left: 1.4rem;

    p {
      font-size: 1.2rem;
    }
  }
}

// TABLET SIZE (768px)
@media screen and (min-width: 426px) {

  .featured-episode, .featured-curriculums {
    h2 {
      font-weight: 2.4rem !important;
    }
  }

  .featured-curriculums {
    margin: 0 !important;
  }

  .featured-item {
    &-text {
      p {
        font-size: 1.8rem;
      }
    }
    &-image {
      img {
        height: 20rem;
        width: auto;
      }
    }
  }

  .curriculum {
    &-image {
      img {
        height: 10rem;
        width: auto;
      }
    }

    &-text {
      p {
        font-size: 1.8rem;
      }
    }
  }
}
