.cta {
    &-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 200px;
        display: flex;
        justify-content: flex-start;
        
        &-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        h1 {

             /* Hide the text. */
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }

        h2 {
            font-family: $font-one;
            font-size: 50px;
            font-weight: bold;
            color: $white;
            text-transform: uppercase;
            align-self: flex-start;
        }

        p {
            width: 540px;
            font-family: $font-one;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: $white;
            align-self: flex-start;
        }

        a {
            margin-top: 20px;
        }
    }
}

.featured {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 60px 0;

    a {
        text-decoration: none;
        color: $primary;
    }
    
    h4 {
        color: $primary;
        text-transform: uppercase;
        font-family: $font-one;
        margin-top: 30px;
        margin-bottom: 60px;
        text-decoration: none;
        
    }

    &-video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .embed-container {
            width: 100%;
            height: 400px;
            // object-fit: cover;
            // overflow: hidden;
        }

        .embed-container iframe,
        .embed-container object,
        .embed-container embed { 
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    h5 {
        margin-top: 30px;

        &:hover, &:active {
            color: $secondary;
        }
    }
}

.curriculums {
    .curriculum {
        display: flex;
        margin: 20px 0;

        h5 {
            padding-left: 20px;
        }

        a {

            &:active, &:hover {
                color: $secondary;
            }
        }
    }
}

.family {
    width: 100%;
    height: auto;
    margin-top: 80px;

}

.signup {
    margin-top: 120px;

    &-text {
        display: flex;
        flex-direction: column;
        width: 800px;
    
        h3 {
            font-size: 50px;
            font-family: $font-one;
            text-align: center;
            color: $primary;
        }

        p {
            font-size: 30px;
            text-align: center;
        }

        a {
            width: 300px;
            align-self: center;
        }
    }
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $third;
    padding: 60px 0;
    
    &-logos {
        align-items: center;

        img {
            padding: 0 20px;
            width: auto;
        }
    }

    &-text {
        margin-top: 20px;
        
        h4 {
            padding-top: 40px;
            color: $white;
        }
    }

    &-downloads {
        margin: 40px 0;

        img {
            padding: 0 40px;
            width: auto;
        }
    }
}

// CAROUSEL
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 20s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 16))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 200px;
	overflow:hidden;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 200px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(50px * 16);
	}
	
	.slide {

        img {
            height: 100px;
            width: 250px;
        }
	}
}