.jumbotron {
    &-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 200px;
        display: flex;
        justify-content: flex-start;
        
        &-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        h1 {

             /* Hide the text. */
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }

        h2 {
            font-family: $font-one;
            font-size: 50px;
            font-weight: bold;
            color: $white;
            text-transform: uppercase;
            align-self: flex-start;
        }

        p {
            width: 540px;
            font-family: $font-one;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: $white;
            align-self: flex-start;
        }

        a {
            margin-top: 20px;
        }
    }
}

.featured {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 60px 0;

    a {
        text-decoration: none;
        color: $primary;
    }
    
    h4 {
        color: $primary;
        text-transform: uppercase;
        font-family: $font-one;
        margin-top: 30px;
        margin-bottom: 60px;
        text-decoration: none;
        
    }

    &-video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .embed-container {
            width: 100%;
            height: 400px;
            // object-fit: cover;
            // overflow: hidden;
        }

        .embed-container iframe,
        .embed-container object,
        .embed-container embed { 
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    h5 {
        margin-top: 30px;

        &:hover, &:active {
            color: $secondary;
        }
    }
}

.curriculums {
    .embed-container {
        width: 200px !important;
        height: 120px;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed { 
        position: relative;
        width: 200px;
        height: 100%;
    }

    .curriculum {
        display: flex;
        margin: 20px 0;

        h6 {
            padding-left: 20px;
        }

        a {

            &:active, &:hover {
                color: $secondary;
            }
        }
    }
}

.family {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 80px;
}

.signup {
    margin-top: 120px;
    &-text {
        display: flex;
        flex-direction: column;
        width: 800px;
    
        h3 {
            font-size: 50px;
            font-family: $font-one;
            text-align: center;
            color: $primary;
        }

        p {
            font-size: 30px;
            text-align: center;
        }

        a {
            width: 300px;
            align-self: center;
        }
    }
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: $third;
    padding: 60px 0;
    
    &-logos {
        align-items: center;

        img {
            padding: 0 20px;
        }
    }

    &-text {
        margin-top: 20px;
        
        h4 {
            padding-top: 40px;
            color: $white;
        }
    }

    &-downloads {
        margin-top: 20px;
    }
}