.initiative {
    display: flex;
    flex-direction: column;

    h2 {
        @include title;
        margin-top: 40px;
        text-align: center;
    }

    &-title {
        margin-top: 20px;

        h3 {
            @include title;
            margin: 20px 0;
        }
    }

    &-image {
        img {
            width: 100%;
        }
    }

    &-textareaWithImage {
        img {
            width: 100%;
            height: auto;
        }
    }

    &-gallery {
        ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0;
 
            li {
                a {
                    display: flex;
                    text-decoration: none;
                    
                    img {
                        justify-self: center;
                        height: auto;
                        margin: 10px 0;
                    }
                }

            }
        }
    }

    &-video {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    &-textAreaWithImage {
        display: flex;
        margin-top: 40px !important;

        &-one {
            position: relative;
            display: inline-block;

            &-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                background-color: rgba($color: #000, $alpha: .7);
                width: 60%;
                height: auto;
                
                h5 {
                    font-size: 80px;
                    text-shadow: 2rem;
                    text-align: center;
                }
                
                p {
                    font-size: 30px;
                    text-align: center;
                }
            }

            &-image {
                img {
                    width: 100%;
                }
            }
            
        }

        &-two {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;

            p {
                padding: 20px;
            }
        }
        
    }
}

@media screen and (min-width: 426px) {
    .initiative {
        &-gallery {
            ul {
                flex-direction: row;
                justify-content: center;

                li {
                    align-self: center;
                    img {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}