.initiative {
    display: flex;
    flex-direction: column;

    h2 {
        @include title;
        margin-top: 40px;
        text-align: center;
    }

    &-title {
        margin-top: 20px;

        h3 {
            @include title;
            margin: 20px 0;
            text-align: center;
        }
    }

    &-image {
        img {
            width: 100%;
        }
    }

    &-textarea {
        margin: 40px 0;
    }

    &-textareaWithImage {
        img {
            width: 100%;
            height: auto;
        }
    }

    &-gallery {
        ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0;
 
            li {
                a {
                    display: flex;
                    text-decoration: none;
                    
                    img {
                        justify-self: center;
                        height: auto;
                        margin: 10px 0;
                    }
                }

            }
        }
    }

    &-video {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    &-textAreaWithImage {
        display: flex;
        margin-top: 40px !important;

        &-one {
            position: relative;
            display: inline-block;

            &-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                background-color: rgba($color: #000, $alpha: .7);
                width: 60%;
                height: auto;
                
                h5 {
                    font-size: 80px;
                    text-shadow: 2rem;
                    text-align: center;
                }
                
                p {
                    font-size: 22px;
                    text-align: center;
                }
            }

            &-image {
                img {
                    width: 100%;
                }
            }
            
        }

        &-two {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                padding: 20px;
            }
        }
        
    }

    &-lists {
        margin-top: 80px !important;

        .fas {
            font-size: 40px;
            color: $white;
            background-color: $primary;
            padding: 40px;
            border-radius: 80px;
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 40px 0;

            h5 {
                margin-bottom: 20px;
                font-weight: 800;
                text-align: center;
            }
        }
    }

    &-textAreaWithVideo {
        margin-top: 80px !important;

        &-item {
            margin: 40px 0;
        }
        
        &-one {
            h4 {
                margin-bottom: 40px;
                text-transform: uppercase;
            }
        }

        &-two {
            iframe {
                width: 100% !important;
            }
        }
    }
}

@media screen and (min-width: 426px) {
    .initiative {
        h3 {
            text-align: left;
        }
        &-gallery {
            ul {
                flex-direction: row;
                justify-content: center;

                li {
                    align-self: center;
                    img {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}