@mixin shadow($x: 6px, $y: 6px, $z: 6px,) {
    box-shadow: $x $y $z rgba(2, 2, 2, 0.04);
}

@mixin title() {
    font-family: $font-one;        
    text-transform: uppercase;
    color: $primary;
}

// CAROUSEL
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 16))}
}
