.partners {
  min-height: calc(100vh - 220px) !important;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 2rem;

  &-intro {
    h2 {
      text-transform: uppercase;
      text-align: center;
      font-family: $font-one;
      color: $primary;
    }
    p {
      margin-top: 40px;
      font-size: 1.4rem;
      text-align: justify;
    }
  }

  &-video {
    margin-top: 40px;
    align-self: center;
  }

  &-results {
    margin-top: 40px;
  }

  &-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;

    &-item {
      padding: 40px;
      margin: 20px;
      width: 300px;
      justify-content: center;

      h5 {
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
}
