.partners {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &-intro {
        h3 {
            text-transform: uppercase;
            text-align: center;
            font-family: $font-one;
            color: $primary;
        }
        p {
            margin-top: 40px;
        }
    }

    &-video {
        margin-top: 40px;
    }

    &-results {
        margin-top: 40px;
    }

    &-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;

        &-item {
            padding: 40px;
            margin: 20px;
            width: 300px;
            justify-content: center;
            
            h5 {
                text-transform: capitalize;
                text-align: center;
            }
        }
    }
}