.filter {
    background-color: $grey-one;
    margin-bottom: 40px;

    &-search {
        padding: 20px;
    }

    &-types {
        padding: 0px 20px;

        label {
            text-transform: uppercase;
            font-weight: bold;
        }

        &-input {
            display: flex;
            justify-content: space-between;
            text-transform: capitalize;
            margin-top: 10px;

            input[type="radio"] {
                margin-right: 10px;
                display:inline-block;
                width:20px;
                height:20px;
                vertical-align: middle;
            }
        }
    }

    &-categories {
        padding: 0px 20px;
        margin-top: 20px;

        label {
            text-transform: uppercase;
            font-weight: bolder;
        }
        
        &-item {
            margin: 10px 0;

            label {
                text-transform: capitalize;
            }

            input[type="radio"] {
                display:inline-block;
                margin-right: 10px;
                width:20px;
                height:20px;
                vertical-align: middle;
            }
        }
        

        
    }

    &-grade {
        padding: 0px 20px;
        margin-top: 20px;
        
        &-item {
            margin: 10px 0;
        }

        &-label {
            text-transform: uppercase;
            font-weight: bold;
        }

        &-select {
            margin-top: 20px;
        }

        input[type="checkbox"] {
            margin-right: 10px;
            display:inline-block;
            width:20px;
            height:20px;
            vertical-align: middle;
        }
    }

    &-submit {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 10px;
        margin: 10px 0;
        margin-bottom: 20px;
        text-align: center;
        
        input {
            width: 100%;
            font-weight: bold;
        }
    }

    &-downloads {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        padding: 10px;
        background-color: $primary;
        
        &-container {
            display: flex;
            margin: 20px 0;
        }

        h4 {
            color: $white;
            text-align: center;
        }

        img {
            align-self: center;
            width: auto;
            height: 44px;
            padding: 0 10px;
        }
    }
}

aside {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 60px;
}


#episode-category {
    margin-top: 20px;
    width: 100%;
}
 