.single {
    &-content {
        h4 {
            font-size: 22px;
        }
        
        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            padding: 10px;
            background-color: $grey-three;
        }
    }

    &-sidebar {
        background-color: $grey-three;
        padding: 10px;
        margin: 10px 0;

        h3 {
            font-size: 18px;
        }

        ul {
            li {
                font-size: 14px;
            }
        }
    }
}

.social-media {
    display: flex;
    align-items: center;
    margin-left: 20px;

    a {
        margin: 0 4px;
    }
}

@media screen and (min-width: 769px) {
    .single {
        display: flex;

        &-content {
            margin-right: 20px;
            width: 70%;
        }

        &-sidebar {
            width: 30%;
            height: 100%;
        }
    }
}