.breadcrumb {
  margin-top: 20px;

  li {
    color: $primary;
    text-decoration: none;
    font-size: 8px;
  }

  a {
    text-decoration: none;
  }
}

.episode {
  margin-bottom: 20px;

  #player,
  iframe {
    width: 100%;
    height: 300px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: $white;
    width: 100%;
    margin-top: -6px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    @include shadow;

    &-title {
      width: auto;
      padding: 10px;

      h5 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
        margin: 0;
      }
    }

    &-lessons {
      background-color: $seventh;
      flex-direction: column;
      display: flex;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: 10px 20px;

      h5 {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
      }

      p {
        font-size: 1.2rem;
      }

      a {
        align-self: center;
        width: 180px;
        border-radius: 20px;
        font-size: 1rem;
      }
    }
  }
}

.dropdown {
  span {
    font-size: 1rem !important;
  }

  &-menu {
    h4 {
      font-size: 1.8rem;
      text-align: center;
    }

    li {
      width: auto;

      i {
        margin-right: 10px;
      }

      a {
        font-size: 1.2rem;
      }
    }
  }
}

.nav {
  &-tabslist {
    &-item {
      padding: 0;
    }

    &-link {
      span {
        color: $primary !important;
        font-size: 1.2rem;
      }
    }

    &-link.active {
      background: none !important;
    }
  }
}
