.single {
  display: flex;
  flex-direction: column;
  
  &-content {
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: auto;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    > h2 {
      font-size: 3rem !important;
      text-align: center !important;
      margin-bottom: 4rem !important;
    }

    > iframe {
      width: 100% !important;
      height: 300px !important;
    }

    p {
      font-size: 1.6rem;
    }

    &-info {
      background-color: $primary;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        color: $white;
      }
    }

  }

  &-sidebar {
    background-color: $grey-three;
    padding: 2rem;
    margin: 2rem 0;
    height: 100%;
  }
}

.a2a_kit {
  margin-top: 2rem;
  align-self: center;
}

@media screen and (min-width: 769px) {
  .single {
    flex-direction: row;

    &-breadcrumb-item {
      font-size: 2rem !important;
    }

    &-content {
      width: 76%;
      margin-right: 2rem;

      iframe {
        height: 600px !important;
        width: 100% !important;
      }
    }

    &-sidebar {
      width: 24%;
      margin-top: 8rem;
    }
  }
}

// .single {
//   display: flex;

//   &-featuredimg {
//     img {
//       max-width: 100%;

//     }
//   }

//   &-content {
//     display: flex;
//     flex-direction: column;

//     h2 {
//       margin: 4rem 0;
//       font-size: 2.4rem;
//       text-align: center;
//     }

//     &-info {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       margin: 10px 0;
//       padding: 10px;
//       background-color: $primary;

//       p {
//         color: $white;
//       }
//     }
//   }

//   &-sidebar {
//     background-color: $grey-three;
//     padding: 10px 20px;
//     margin: 10px 0;

//     h3 {
//       font-size: 18px;
//     }

//     ul {
//       li {
//         font-size: 14px;
//       }
//     }
//   }
// }

// .social-media {
//   display: flex;
//   align-items: center;
//   margin-left: 20px;

//   a {
//     margin: 0 4px;
//   }
// }

// @media screen and (min-width: 426px) and (max-width: 768px) {
//   .single {
//     display: flex;

//     &-content {
//       width: 60%;

//       &-item {
//         padding-right: 10px;

//         p {
//           position: relative;
//           left: 10px;
//         }

//         &-floated {
//           float: left;
//           overflow: hidden;
//         }
//       }
//     }

//     &-sidebar {
//       width: 40%;
//       margin-left: 10px;
//     }
//   }
// }

// @media screen and (min-width: 769px) {
//   .single {
//     display: flex;

//     &-content {
//       margin-right: 20px;
//       width: 70%;

//       &-item {
//         padding-right: 10px;

//         &-floated {
//           float: left;
//           overflow: hidden;
//         }
//       }
//     }

//     &-sidebar {
//       width: 30%;
//       height: 100%;
//     }
//   }
// }
