.dropdown {
  span {
    font-size: 1rem !important;
  }

  &-menu {
    h4 {
      font-size: 1.8rem;
      text-align: center;
    }

    li {
      width: auto;

      i {
        margin-right: 10px;
      }

      a {
        font-size: 1.2rem;
      }
    }
  }
}

.nav {
  &-tabslist {
    &-item {
      padding: 0;
    }

    &-link {
      span {
        color: $primary !important;
        font-size: 1.2rem;
      }
    }

    &-link.active {
      background: none !important;
    }
  }
}

@media screen and (min-width: 426px) {
  .episode {
    &-details {
      display: flex;
      flex-direction: row;

      &-tabs {
        width: 75%;
      }

      &-related {
        width: 25%;
      }
    }
  }
}
