.episode-details-related {
  margin: 2rem 0;

  h2 {
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: bolder;
    color: $primary;
  }
}
.related-item {
  margin: 2rem 0;

  a {
    display: flex;

    &:active,
    &:hover {
      background-color: $grey-two;
    }
  }

  img {
    height: 6rem;
    width: auto;
  }

  p {
    align-self: center;
    margin-left: 1.6rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 426px) {
  .episode-details-related {
    margin: 0 1.2rem;
  }
}
