// colors

$primary: #1a5458;
$secondary: #f48822;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

// font
$font-one: 'Roboto Slab', serif;

.btn {
  padding: 20px 80px;
  border-radius: 30px;
  text-transform: uppercase;
  
  &-primary {
    background-color: $secondary;
    border: none;

    &:hover, &:active {
      background-color: $secondary;
      filter: brightness(97%);
    }
  }
}
