@import "./custom";
@import "./variables";
@import "./mixins";
@import "./header";
@import "./frontpage";
@import "./frontpage-cta";
@import "./frontpage-featured";
@import "./frontpage-signup";
@import "./slider";
@import "./episodes-lessons";
@import "./episodes-lessons-sidebar";
@import "./episodes-lessons-results";
@import "./single";
@import "./single-player";
@import "./single_details";
@import "./where-to-watch";
@import "./page";
@import "./partners";
@import "./footer";
@import "./blog";
@import "./single-blog";
@import "./about";
@import "./archived";
@import "./initiative";
@import "./modal";
@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: $grey-one;
  font-size: 62.5%;
}

main {
  min-height: calc(100vh - 286px);
  margin: 0;
  margin-top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.card {
  border: none;
  border-radius: 1.6rem;
  @include shadow;

  width: 20rem;
  height: auto;
  margin: 0.6rem;

  &:hover,
  &:active {
    transform: scale(1.01);
    animation: fadeIn 5s;
  }
}

// .video-stream html5-main-video {
//     width: 889px !important;
//     height: 500px !important;
// }
