@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables";
@import "./mixins";
@import "./header.scss";
@import "./front-page.scss";
@import "./footer.scss";

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}