@import "./custom";
@import "./variables";
@import "./mixins";
@import "./header";
@import "./front-page";
@import "./episodes-lessons";
@import "./sidebar";
@import "./single";
@import "./where-to-watch";
@import "./footer";

@import "~bootstrap/scss/bootstrap";

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: $grey-one;
}
